# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

#load csv file"

weather_df = pd.read_csv("output_data/cities.csv", encoding="utf-8")

weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,nelson bay,-32.7167,152.1500,21.00,100,40,4.12,AU,1612639193
1,rikitea,-23.1203,-134.9692,25.40,73,100,5.20,PF,1612639212
2,brae,60.3964,-1.3530,1.00,51,100,9.26,GB,1612639213
3,vokhtoga,58.8147,41.0461,-19.25,91,100,4.41,RU,1612639215
4,hobart,-42.8794,147.3294,14.44,77,93,1.54,AU,1612638922
...,...,...,...,...,...,...,...,...,...
585,inhambane,-23.8650,35.3833,27.78,78,20,2.06,MZ,1612640106
586,camopi,3.1655,-52.3158,22.26,97,100,1.42,GF,1612640107
587,kodinsk,58.6881,99.1844,-10.98,95,100,2.66,RU,1612640108
588,belawan,3.7755,98.6832,26.00,94,40,1.03,ID,1612640109
589,shimoda,34.6667,138.9500,9.43,55,0,4.44,JP,1612640111

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Create a marker_layer using the humidity list to fill the info box

marker_locations = weather_df[['Lat', 'Lng']]

humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()
heatmap_df = gmaps.heatmap_layer(marker_locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_df)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
weathercond_df = weather_df

max_temp = (weathercond_df["Max Temp"] <= 80) & (weathercond_df["Max Temp"] > 70)
wind_speed = weathercond_df["Wind Speed"] < 10
cloudiness = weathercond_df["Cloudiness"] == 0
weathercond_drop=weathercond_df.dropna()

weathercond_df[max_temp & wind_speed & cloudiness]

weathercond_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,nelson bay,-32.7167,152.1500,21.00,100,40,4.12,AU,1612639193
1,rikitea,-23.1203,-134.9692,25.40,73,100,5.20,PF,1612639212
2,brae,60.3964,-1.3530,1.00,51,100,9.26,GB,1612639213
3,vokhtoga,58.8147,41.0461,-19.25,91,100,4.41,RU,1612639215
4,hobart,-42.8794,147.3294,14.44,77,93,1.54,AU,1612638922
...,...,...,...,...,...,...,...,...,...
585,inhambane,-23.8650,35.3833,27.78,78,20,2.06,MZ,1612640106
586,camopi,3.1655,-52.3158,22.26,97,100,1.42,GF,1612640107
587,kodinsk,58.6881,99.1844,-10.98,95,100,2.66,RU,1612640108
588,belawan,3.7755,98.6832,26.00,94,40,1.03,ID,1612640109
589,shimoda,34.6667,138.9500,9.43,55,0,4.44,JP,1612640111

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(weather_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
# hotel_df["Coordinates"]=""
hotel_df

           City Country      Lat       Lng Hotel Name
0    nelson bay      AU -32.7167  152.1500
1       rikitea      PF -23.1203 -134.9692
2          brae      GB  60.3964   -1.3530
3      vokhtoga      RU  58.8147   41.0461
4        hobart      AU -42.8794  147.3294
..          ...     ...      ...       ...        ...
585   inhambane      MZ -23.8650   35.3833
586      camopi      GF   3.1655  -52.3158
587     kodinsk      RU  58.6881   99.1844
588     belawan      ID   3.7755   98.6832
589     shimoda      JP  34.6667  138.9500

[590 rows x 5 columns]

In [40]:
coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
search_target = "hotel"
radius_target = 5000
type_target = "hotel"

# set up a parameters dictionary
params = {
    "location": coordinates,
    "keyword": search_target,
    "radius": radius_target,
    "type": type_target,
    "key": g_key
}

# base url
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(url, params=params)

print(response.json())

{'error_message': 'You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}

In [29]:
hotel_df.iloc[0][0]

'nelson bay'

In [43]:

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
   # "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(url, params=params).json()
    
    results = response['results']
    # convert to json
        
    try:
        #print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        #print("Missing field/result... skipping.")

SyntaxError: unexpected EOF while parsing (<ipython-input-43-b73ddb43ad38>, line 31)

In [37]:
hotel_df

           City Country      Lat       Lng Hotel Name
0    nelson bay      AU -32.7167  152.1500
1       rikitea      PF -23.1203 -134.9692
2          brae      GB  60.3964   -1.3530
3      vokhtoga      RU  58.8147   41.0461
4        hobart      AU -42.8794  147.3294
..          ...     ...      ...       ...        ...
585   inhambane      MZ -23.8650   35.3833
586      camopi      GF   3.1655  -52.3158
587     kodinsk      RU  58.6881   99.1844
588     belawan      ID   3.7755   98.6832
589     shimoda      JP  34.6667  138.9500

[590 rows x 5 columns]

In [58]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel_export.csv')

In [44]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [45]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig


# Display figure

Figure(layout=FigureLayout(height='420px'))